<%= render '/layouts/sidebar'  %>
<%= render 'layouts/navigation'  %>
   <div class="footer-distributed main-form white-text">
    <div class="container-fluid ">


    <div class="card-header form-herder margin-top mr-4 ml-3">
      <h4 class="card-title cool-blue-text">New Contact</h4>
    </div>


  <%= render 'form', contact: @contact %>

  </div>
</div>
</div>
