
<% flash.each do |key, value| %>


<div data-notify="" class=" center alert alert-box  alert-<%= key %>" role="alert">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss">
        <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
    <span data-notify="icon"></span>
    <span data-notify="title"><%= key %></span>
    <span data-notify="message"><%= value %></span>

</div>
<% end %>
